language: python
python:
  - "2.7"
  - "3.4"
  - "3.5"
  - "3.6"

# command to install dependencies
install:
    - if [[ "$TRAVIS_PYTHON_VERSION" == "2.7" ]]; then
        wget https://repo.continuum.io/miniconda/Miniconda-latest-Linux-x86_64.sh -O miniconda.sh;
      else
        wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh;
      fi
    - bash miniconda.sh -b -p $HOME/miniconda
    - export PATH="$HOME/miniconda/bin:$PATH"
    - hash -r
    - conda config --set always_yes yes --set changeps1 no
    - conda update -q conda
    - conda info -a

    - conda install cython
    - conda install -c bioconda bedtools
    #- conda install -c bioconda pybedtools
    - pip install --user -r requirements.txt
    - python setup.py install

# command to run tests
script:
  #- ./intervene/intervene venn -i intervene/example_data/ENCODE_hESC/*.bed
  #- ./intervene/intervene upset -i intervene/example_data/ENCODE_hESC/*.bed --scriptonly
  #- ./intervene/intervene pairwise -i intervene/example_data/dbSUPER_mm9/*.bed --scriptonly
  - intervene venn --test
  - intervene upset --test --scriptonly
  - intervene pairwise --test --scriptonly

