language: python
python:
  - "2.7"
  - "3.4"
  - "3.5"

# command to install dependencies
install:
    - if [[ "$TRAVIS_PYTHON_VERSION" == "2.7" ]]; then
        wget https://repo.continuum.io/miniconda/Miniconda-latest-Linux-x86_64.sh -O miniconda.sh;
      else
        wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh;
      fi
    - bash miniconda.sh -b -p $HOME/miniconda
    - export PATH="$HOME/miniconda/bin:$PATH"
    - hash -r
    - conda config --set always_yes yes --set changeps1 no
    - conda update -q conda
    - conda info -a

    - conda install cython
    - conda install bedtools
    - conda install -c bioconda pybedtools
    - pip install --user -r requirements.txt

# command to run tests
script:
  - ./intervene/intervene venn --test
  - ./intervene/intervene upset --test
  - ./intervene/intervene pairwise --test
